<bongodb>
    <logging>
        <formatters>
            <f1>
                <class>PatternFormatter</class>
                <pattern>%s: [%p] %t</pattern>
                <times>UTC</times>
            </f1>
        </formatters>
        <channels>
            <c1>
                <class>ConsoleChannel</class>
                <formatter>f1</formatter>
            </c1>
        </channels>
        <loggers>
            <root>
                <channel>c1</channel>
                <level>debug</level>
            </root>
        </loggers>
    </logging>

    <backend>
        <processor>
            <shard>1</shard>
            <replica>1</replica>

            <storage>
                <type>bongo</type>
            </storage>

            <buffer>
            </buffer>
        </processor>

        <cluster>
            <shard>
                <key>1</key>
                <master_replica_key>1</master_replica_key>
                <replica>
                    <key>1</key>
                    <client>
                        <!--может быть здесь еще будет тип (grpc / http rest)-->
                        <host>127.0.0.1</host>
                        <port>1235</port>
                    </client>
                </replica>
            </shard>
        </cluster>
    </backend>

    <server>
        <port>1234</port>
    </server>
</bongodb>
